@model LaboJLevecq.Models.CoffretForm;

@{
    ViewData["Title"] = "Créer un Coffret";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">
        @TempData["SuccessMessage"]
    </div>
}


<h1>@ViewData["Title"]</h1>

<form asp-action="CoffretForm" method="post" enctype="multipart/form-data">
    <!-- Affichage des erreurs générales -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Titre" class="control-label"></label>
        <input asp-for="Titre" class="form-control" />
        <span asp-validation-for="Titre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Prix" class="control-label"></label>
        <input asp-for="Prix" value="" class="form-control" type="number" step="0.01" />
        <span asp-validation-for="Prix" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantite" class="control-label"></label>
        <input asp-for="Quantite" value="" class="form-control" type="number" />
        <span asp-validation-for="Quantite" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Synopsis" class="control-label"></label>
        <textarea asp-for="Synopsis" class="form-control"></textarea>
        <span asp-validation-for="Synopsis" class="text-danger"></span>
    </div>

    <!-- Affichage du select pour les genres -->
    <div class="form-group">
        <label asp-for="GenreId" class="control-label">Genre</label>
        <select asp-for="GenreId" class="form-control">
            <option value="">Sélectionner un genre</option>
            @foreach (var item in Model.Genres)
            {
                <option value="@item.Id">@item.Label</option>
            }
        </select>
        <span asp-validation-for="GenreId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Bonus" class="control-label"></label>
        <input asp-for="Bonus" class="form-control" />
        <span asp-validation-for="Bonus" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="AfficheUrl" class="control-label"></label>
        <input asp-for="AfficheUrl" class="form-control" />
        <span asp-validation-for="AfficheUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Soumettre</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
